body {
    margin: auto;
    background: rgb(132,4,32);
    background: linear-gradient(90deg, rgba(132,4,32,1) 0%, rgba(149,29,55,1) 50%, rgba(140,49,69,1) 100%);
    
}

.card {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.5);
    width: 325px;
    height: 350px; 
    float: left;
    margin: 15px 0;
    padding: 10px;
    background-color: rgb(250, 247, 247); 
    position: relative; 
    margin-inline: 10px;
    border-radius: 1rem;    
}

.card img {
    width: 100%;
    height: auto;
    min-height: 250px;
    max-height: 65%; 
    display: block;
    margin: 0 auto;
    object-fit: cover;
}

.card .texto {
    position: relative;
    margin: auto;
    margin-top: 30px;
    text-align: center; 
    font-size: 2rem; 
    color: #000000; 
}

.card ul {
    list-style-type: none;
    padding-left: 20px;
}

.card li {
    margin-bottom: 5px;
    font-family: Arial, sans-serif;
    /* font-size: smaller; */
}

#formaciones .card li {
    font-size:smaller;
}

.goleadores-container .card {
    font-size: larger;
    width: fit-content;
    height: fit-content !important;
} 
