/* Estilos generales */
body {
    margin: 0;    
    font-family: Arial, sans-serif;
    color: #000000;
    background-image: url(https://images8.alphacoders.com/128/1288503.jpg);
    background-attachment:fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

section {
    padding: 20px;
    text-align: center;
}

h1 {
    background-color: rgba(240, 248, 255, 0.595);
    color: rgb(0, 0, 0);
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.instrucciones {
    background-color: rgba(240, 248, 255, 0.595);
    color: rgb(0, 0, 0);
    text-align: center;
    border-radius: 1rem;
    margin-inline: 100px;
}

/* Estilos para las cards */
.card {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.5);
    width: 325px;
    height: 350px;
    margin: 15px 10px;
    padding: 10px;
    background-color: rgb(250, 247, 247);
    border-radius: 1rem;
    text-align: center;
}

.card img {
    width: 100%;
    height: auto;
    min-height: 250px;
    max-height: 65%;
    object-fit: cover;
}

.card .texto {
    margin-top: 30px;
    font-size: 1rem;
}

.card ul {
    list-style-type: none;
    padding-left: 20px;
}

.card li {
    margin-bottom: 5px;
}

/* Estilos para los botones */
.contenedor-boton {
    text-align: center;
}

.button {
    width: fit-content;
    min-width: 5rem;
    height: 2rem;
    border-radius: 1rem;
    font-weight: bolder;
    cursor: pointer;
    transition: all 0.3s ease;
}

.button:hover {
    background-color: #262627;
    color: white;
    font-weight: bolder;
    transform: scale(1.05);
}

/* Estilos para contenedores */
.contenedor-formaciones, .contenedor-selectores, .contenedor-partido, .contenedor-goleadores, .contenedor-resultado {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

.titulo {
    background-color: rgba(240, 248, 255, 0.595);
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

select {
    width: 10rem;
    height: 2rem;
    text-align: center;
    margin: 1rem;
    border-radius: 1rem;
    border-style: dashed;
    border-width: 2px;
    cursor: pointer;
    transition: all 0.3s ease;
}

select:hover {
    background-color: #6e9fbc;
    color: white;
    font-weight: bolder;
    transform: scale(1.05);
    border: #262627;
    border-style: dashed;
    border-width: 2px;
}

.contenedor-resultado {
    background-color:rgba(240, 255, 255, 0.515);
}

.contenedor-resultado h3 {
    font-size: xx-large;
    font-style: italic;
    font-variant: small-caps;
}

.plegable {
    margin-bottom: 2rem;
}

#listaGoles {
    list-style: none;
    padding: 0;
}
  
#listaGoles li {
    background-color: rgba(240, 248, 255, 0.8);
    border-radius: 1rem;
    padding: 10px;
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
#listaGoles li img {
    width: 100px;
    height: auto;
    border-radius: 1rem;
}
  
#listaGoles li strong {
    font-weight: bold;
    margin-right: 10px;
}
  
#listaGoles li a {
    text-decoration: none;
    color: #262627;
    font-weight: bold;
    padding: 5px 10px;
    background-color: #6e9fbc;
    border-radius: 1rem;
    transition: background-color 0.3s ease;
}
  
#listaGoles li a:hover {
    background-color: #262627;
    color: white;
}